<div class="container-fluid">
    <h1>Registration Form</h1><br>

    <form #userRef = "ngForm" (ngSubmit)="registerUser(userRef.value)" class="form-group">
        <div class="row">
            <label class="col-2" style="margin: 10px;">First Name</label>
            <input type="text" name="fname" ngModel class="col-3" style="margin: 10px;"/><br>
        </div>
        <div class="row">
            <label class="col-2" style="margin: 10px;">Last Name</label>
            <input type="text" name="lname" ngModel class="col-3" style="margin: 10px;" /><br>
        </div>

        <div class="row">
            <label class="col-2" style="margin: 10px;">Username</label>
            <input type="text" name="user" ngModel class="col-3" style="margin: 10px;"/><br>
        </div>  


        <div class="row">
            <label class="col-2" style="margin: 10px;">Password</label>
            <input type="password" name="pass" ngModel class="col-3" style="margin: 10px;"><br>
        </div>


        <input type="submit" value="Register" class="btn btn-primary" style="margin: 5px; position: relative; left: 400px;"><br>
        <input type="reset" value="Reset" class="btn btn-secondary" style="margin: 5px; position: relative; left: 400px;">
    </form>

    <h2>{{msg}}</h2>
</div>